* {
    padding: 0;
    margin: 0;

}

header {
    background-color: #0484fb;
    height: 5vh;
    color: #FFFFFF;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 92vh;
    /* width: 70vw; */
}

/* article {} */

section {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#secaoBusca {
    position: relative;
}


.container {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#fileInput {
    display: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#containerBusca {
    display: none;
}

#botoesVencimentos {
    display: none;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
}

.vencimentos {
    align-content: center;
    text-align: center;
    background-color: rgb(192, 192, 192);
    color: #000;
    font-size: small;
    margin: 2px;
    height: 20px;
    width: 10vw;
    display: inline-block;
}

#encontrados {
    border: inset;
    cursor: pointer;
}

#naoEncontrados {
    border: outset;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    white-space: pre-wrap;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 4px;
    width: 40vw;
    max-height: 320px;
    overflow-y: auto;
    display: none;
}

h3 {
    text-align: center;
}

#mensagemVencimentoEncontrado {
    width: 40vw;
    height: 25vh;
    background-color: #4ee656;
    color: #FFF;
    text-shadow: 3px 0px 2px black;
    display: none;

    transition: opacity 0.7s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(-20px);

    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    top: 10%;
    left: 30%;
}

#outputEncontrado {
    font-size: 220%;
    font-weight: 700;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a0a0a0;
    height: 3vh;
    color: #000000;
}
